@model IEnumerable<ShoeShop.Entities.Product>

@{
    ViewData["Title"] = "Show";
}


<h1>Ürünler</h1>

<p>
    <a class="btn btn-primary" asp-action="Create">Ürün Oluştur</a>
</p>
<table class="table">
    <thead>
    <tr>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th class="text-center">
            @Html.DisplayNameFor(model => model.ImageUrl)
        </th>
        <th></th>
    </tr>
    </thead>
    <tbody>
    @foreach (var item in Model) {
        <tr>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td class="text-center">
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="text-center ">
                <img src="@item.ImageUrl" class="img-thumbnail" alt="product image" style="width: 30%;height: 30%"/>
            </td>
            <td class="text-center">
                @Html.ActionLink("Düzenle", "Edit", new {  id=item.ID }) |
                @Html.ActionLink("Detaylar", "Details", new {  productID=item.ID }) |
            </td>
        </tr>
    }
    </tbody>
</table>

<ul class="pagination justify-content-center mt-3">
    @for (var i = 1; i <= ViewBag.TotalPages; i++)
    {
        <li class="page-item @(i==ViewBag.CurrentPage ? "active":"")">
            <a class="page-link " asp-action="Show" asp-route-page="@i">@i</a>
        </li>
    }
</ul>
