@model IEnumerable<Color>



<div style="border: 0.2px rgb(200,200,200) solid;  border-color: orangered;">
    <p style="font-weight: 600; color: white;background-color: orangered; padding-left: 10px;">Renk</p>
    <div style="padding-left: 10px; padding-right: 10px; padding-bottom: 10px;">
        @foreach (var col in Model)
        {
            if (ViewBag.CurrentColorID == col.ID)
            {
                <a asp-controller="Home" asp-action="Index" asp-route-colorID="@col.ID" asp-route-brandID="@ViewBag.CurrentBrandID"
                   asp-route-genderID="@ViewBag.CurrentGenderID" asp-route-catName="@ViewBag.CurrentCategory" 
                   style="color: orangered; margin-left: 10px; text-decoration: none; font-weight: bold;">> @col.Name</a>
                <br />
            }
            else
            {
                <a asp-controller="Home" asp-action="Index" asp-route-colorID="@col.ID" asp-route-brandID="@ViewBag.CurrentBrandID"
                   asp-route-genderID="@ViewBag.CurrentGenderID" asp-route-catName="@ViewBag.CurrentCategory" 
                   style="color: black; margin-left: 10px; text-decoration: none;  font-weight: 400;">@col.Name</a>
                <br />
            }
        }
        @if (ViewBag.CurrentColorID == -1 || ViewBag.CurrentColorID == null)
        {
            <a asp-controller="Home" asp-action="Index" asp-route-colorID="-1" asp-route-brandID="@ViewBag.CurrentBrandID"
               asp-route-genderID="@ViewBag.CurrentGenderID" asp-route-catName="@ViewBag.CurrentCategory" 
               style="color: orangered; margin-left: 10px; text-decoration: none; font-weight: bold;">Tümünü Göster</a>
        }
        else
        {
            <a asp-controller="Home" asp-action="Index" asp-route-colorID="-1" asp-route-brandID="@ViewBag.CurrentBrandID"
               asp-route-genderID="@ViewBag.CurrentGenderID" asp-route-catName="@ViewBag.CurrentCategory" 
               style="color: black; margin-left: 10px; text-decoration: none;  font-weight: 400;">Tümünü Göster</a>
        }
    </div>
</div>