@model ProductDto


<div class="col-4 mt-5">
    <a asp-controller="Products" asp-action="Details" asp-route-productID="@Model.ID" class="text-decoration-none">
    <div class="card" style="width: 18rem; border: none; background-color: rgb(250, 250, 250);">
        <img src="@Model.ImageUrl" class="card-img-top" alt="@Model.Name" 
             style="width: 95%; ">
        <div class="card-body" style="background-color: rgb(250, 250, 250);">
            <div style="height: 120px;">
                <p class="py-1 px-2" style="color: white; background-color: gray; border-radius: 5px; display: inline-block; font-size: small; font-weight: bold">Kargo Bedava</p>
                <h5 class="text-dark font-weight-bold">@Model.BrandName</h5>
                <h6 class="card-title mt-1 text-secondary">@Model.Name</h6>
            </div>
            
            <div>
                <span class="text-dark font-weight-bold" style="text-decoration: line-through; text-decoration-color: red;">@Model.Price TL </span>
                <p class="px-2 py-1 ml-2" style="color: white; background-color: green; border-radius: 10px; display: inline-block;"> %@(Convert.ToInt32((Model.Price - (Model.Price * (1 - Model.Discount))) / Model.Price))</p>
            </div>
            <p class="card-text mt-1"><span style="color: orangered; font-weight: 800; font-size: larger">@(Convert.ToInt32(Model.Price * (1 - (Model.Discount / 100))) - 0.01) TL</span></p>
        </div>
    </div>
    </a>
</div>



